<center>
<div class="page-header" style="max-width: 400px">
  <h1><font color="#ffffff">Mitch <br><h3>This is a place where you can share your favorite music</h3><h5>If you want to post a song link, just press "post new song" in the top right corner</h5></font></h1>
</div>
<div class="list-group" style="max-width: 400px"><b>
  <% @latest_songs.each do |song| %>
    <%= link_to "#{song.title} - #{song.artist}", song, class: "list-group-item" %>
  <% end %>
  </b>
</div>
</center>